<h1 class="pro-title">{{'professionnel.mainTitle' | translate}}</h1>
<!-- <div class="pro-bg-ctn"></div> -->
<img class="pro-bg-ctn no-mobile" src="img/pro-bg.jpg" />
<img class="pro-bg-ctn no-desktop" src="img/pro-bg-mob.png" />
<ul class="nav justify-content-center pro-menu">
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.gyn">{{'professionnel.menu1' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.rad">{{'professionnel.menu2' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.sage">{{'professionnel.menu3' | translate}}</a>
  </li>
  <li class="nav-item no-mobile">
    <a class="nav-link" ui-sref="prof.gen">{{'professionnel.menu4' | translate}}</a>
  </li>
  <li class="nav-item no-desktop">
    <a class="nav-link" ui-sref="prof.gen">{{'professionnel.menu4mobile' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.autre">{{'professionnel.menu5' | translate}}</a>
  </li>
</ul>
<div class="container-fluid px-0 pro-content-ctn">
  <div class="container px-0">
    <h3 class="pro-sub-title">{{'professionnel.contentTitle' | translate}}</h3>
    <p class="pro-para">
      {{'professionnel.contentLine1' | translate}}
    </p>
    <p class="pro-para">
      {{'professionnel.contentLine2' | translate}}
    </p>
    <p class="pro-para">
      {{'professionnel.contentLine3' | translate}}
    </p>
    <h3 class="pro-sub-title">{{'professionnel.missionTitle' | translate}}</h3>
    <div class="pro-img-ctn">    
      <div class="row">
        <div class="col">
          <img src="img/pro-def1.png" />
          <h4 ng-bind-html="'professionnel.missionLine1' | translate"></h4>
        </div>
        <div class="col">
          <img src="img/pro-def2.png" />
          <h4 ng-bind-html="'professionnel.missionLine2' | translate"></h4>
        </div>
        <div class="col">
          <img src="img/pro-def3.png" />
          <h4 ng-bind-html="'professionnel.missionLine3' | translate"></h4>
        </div>
      </div>
      <a ui-sref="prof.autre">        
        <button class="btn btn-lg btn-join">
          {{'professionnel.buttonText' | translate}}
        </button>
      </a>
    </div>
    <hr class="no-mobile"/>
    <div class="footer no-mobile">
      BabyProgress &copy; 2018
    </div> 
  </div>
</div>