<h1 class="pro-title">{{'gyn.mainTitle' | translate}}</h1>
<!-- <div class="pro-bg-ctn"></div> -->
<img class="pro-bg-ctn no-mobile" src="img/pro-bg.jpg" />
<img class="pro-bg-ctn no-desktop" src="img/pro-bg-mob.png" />
<ul class="nav justify-content-center pro-menu">
  <li class="nav-item">
    <a class="nav-link active" ui-sref="prof.gyn">{{'professionnel.menu1' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.rad">{{'professionnel.menu2' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.sage">{{'professionnel.menu3' | translate}}</a>
  </li>
  <li class="nav-item no-mobile">
    <a class="nav-link" ui-sref="prof.gen">{{'professionnel.menu4' | translate}}</a>
  </li>
  <li class="nav-item no-desktop">
    <a class="nav-link" ui-sref="prof.gen">{{'professionnel.menu4mobile' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ui-sref="prof.autre">{{'professionnel.menu5' | translate}}</a>
  </li>
</ul>
<div class="container-fluid px-0 pro-content-ctn">
  <div class="container px-0">
    <h3 class="pro-sub-title">{{'gyn.title1' | translate}} <font color="#fe6f37">{{'gyn.title2' | translate}}</font> {{'gyn.title3' | translate}}</h3>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block1Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block1Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block2Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block2Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block3Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block3Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block4Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block4Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block5Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block5Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="row faq-row mx-auto">
      <div class="col">
        <div class="step-item-ctn">
          <h5 class="noselect step-item-title">{{'gyn.block6Heading' | translate}}</h5>
          <span class="step-item-desc">{{'gyn.block6Text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="pro-img-ctn">          
      <a ui-sref="prof.autre">        
        <button class="btn btn-lg btn-join">
          {{'professionnel.buttonText' | translate}}
        </button>
      </a>
    </div>
    <hr class="no-mobile"/>
    <div class="footer no-mobile">
      BabyProgress &copy; 2018
    </div> 
  </div>
</div>